@import './mixins';

.sidebar-list {
  overflow-y: scroll;
  margin-right: 8px;
  @include scrollbar;
}

.sidebar-order-box {
  padding: 8px;
  margin: 0 10px 6px 18px;
  border: 1px solid #edf2f9;
  border-radius: 5px;
  line-height: 14px;

  input {
    height: 16px;
    width: 16px;
    margin-top: -1px;
  }

  label {
    font-size: 14px;
    margin: 0 0 0 5px;
    display: inline-block;
    pointer-events: none;
  }

  // Order row
  > div:first-of-type {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  > div:nth-of-type(2) {
    border-top: 1px solid #edf2f9;
    padding-top: 6px;
    margin-top: 8px;
  }

  .sidebar-expander {
    margin-left: auto;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #95aac9;
  }
}

.sidebar-hover {
  &:hover {
    background: #f6f6f6;
  }
}
.sidebar-device {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background: #f6f6f6;
  }
}

.sidebar-highlighted {
  background: #e6f0fd;
  color: #2c7be5;
}

// ================================================================================= //

.order-map-wrapper {
  display: grid;
  grid-template-columns: 275px auto;
}

.map-sidebar {
  background: $card-cap-bg;
  border-right: 1px solid $border-color;
  left: 0;
  top: 68px;
  height: 92vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .core-dropdown-toggle {
    width: 100%;
    white-space: normal !important;
  }
  .map-container {
    height: 100%;
  }

  .dropdown-menu {
    width: 100%;

    > .dropdown-item {
      padding: 0.25rem 1rem;

      div {
        line-height: unset;
      }
    }
  }
  .dropdown-item {
    white-space: normal;
  }

  .order-checkbox-list {
    padding: 0 1rem;
    overflow-y: auto;
  }

  label {
    font-size: 14px;
  }
}
.empty-list-view {
  p {
    font-size: 14px;
    color: $primary-text-color;
    font-weight: 400;
  }
  i {
    color: $secondary;
    font-size: 35px;
  }
  button {
    i {
      font-size: 14px;
      font-weight: 900;
    }
  }
}

.order-map {
  height: 100%;
}

.H_logo {
  visibility: hidden;
}
.btn-light {
  color: #212529;
  background-color: #fff;
  border: 1px solid #edf2f9;
  .danger {
    color: $danger;
  }
}
.btn-margin {
  margin-top: 10px;
}
.seprator-line {
  margin: 5px 0;
  background-color: #edf2f9;
  height: 1px;
}

// ================================================================================= //
//  MAP TOOLTIP STYLES
// ================================================================================= //

.H_ib_close,
.H_ib_tail {
  display: none;
}

.H_ib_content {
  // margin: 10px 10px 0;
  margin: 0;
  color: $primary-text-color;
}

.H_ib_body {
  box-shadow: 0px 0 4px 0 rgba(18, 38, 63, 0.2);
  right: -85px;
}

// Offset between the map marker and top of tooltip
$markerOffset: 18px;

.cluster-wrapper {
  max-width: 350px;
  top: $markerOffset;
  background: #fff;
  width: 229px;
  margin: 0;
  position: relative;

  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.cluster-tabs {
  height: 43px;
  z-index: 10;
  background: #edf2f9;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  padding: 0 10px;
  font-size: 13px;
  box-shadow: 0px 0 4px 0 rgba(18, 38, 63, 0.2);
  font-family: 'Inter', sans-serif;

  i {
    pointer-events: none;
  }

  > div {
    height: 23px;
    width: 23px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(18, 38, 63, 0.02);
      cursor: pointer;
    }
  }
}
.cluster-tooltip {
  opacity: 0;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0 4px 0 rgba(18, 38, 63, 0.2);

  > div {
    padding: 0 10px;
  }

  > div:first-of-type {
    padding-top: 0.5rem;
  }

  hr {
    margin: 0.5rem 0;
  }

  hr.footer-hr {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    margin: -9px 0 0;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }

  .header {
    font-weight: 600;
  }

  .identification-number {
    font-weight: 500;
  }

  i.far.fa-arrow-right {
    font-size: 0.75rem;
  }

  .marker-tooltip {
    padding: 5px;
    background: #fff;
    position: relative;
    color: $primary-text-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tooltip-refrence-dot {
      display: flex;
      .tooltip-reference {
        a {
          color: #212529;
          font-weight: bold;
          margin-right: 10px;
          text-align: left;
          margin-left: 10px;
          text-transform: uppercase;
          font-size: 13px;
        }
      }
      .green-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: $success;
        margin-top: 5px;
      }
      .red-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $danger;
        margin-top: 5px;
      }
    }
    .tooltip-name {
      font-weight: normal;
      text-align: right;
      font-size: 13px;
    }
  }
  .exception {
    color: $danger;
    font-weight: normal;
    text-align: left;
    padding-left: 7%;
    line-height: 1.8em;
    font-size: 12px;
  }
}
canvas {
  width: 100%;
}
.cluster-visible {
  opacity: 100 !important;
}
.cluster-single {
  top: -25px;
  > div {
    border-radius: 10px;
  }
}
